.error{
  color:red;
  font-style: italic;
  font-weight: 700;
}
.content{
  min-height: 700px;
  /* margin-left: 10px; */
}
.footer-area{
  background:#F8F8F8;
  text-align: center;
  padding: 20px 0;
  color: #5E5E5E;
  margin-top: 10px;

}
.footer-area p{
  margin: 0;
}
